@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-cream: oklch(0.9906 0.0135 92.98);

  --color-platinum: oklch(0.8258 0.0183 81.32);
  --color-platinum-100: oklch(0.5727 0.0183 81.32);
  --color-platinum-200: oklch(0.6683 0.0183 81.32);
  --color-platinum-300: oklch(0.7422 0.0183 81.32);
  --color-platinum-400: oklch(0.7917 0.0183 81.32);
  --color-platinum-500: oklch(0.8258 0.0183 81.32);
  --color-platinum-600: oklch(0.854 0.0183 81.32);
  --color-platinum-700: oklch(0.8822 0.0183 81.32);
  --color-platinum-800: oklch(0.9048 0.0183 81.32);
  --color-platinum-900: oklch(0.9614 0.0183 81.32);

  --color-dusk: oklch(0.3616 0.0079 75.31);
  --color-dusk-100: oklch(0.2433 0.0079 75.31);
  --color-dusk-200: oklch(0.2847 0.0079 75.31);
  --color-dusk-300: oklch(0.3157 0.0079 75.31);
  --color-dusk-400: oklch(0.3387 0.0079 75.31);
  --color-dusk-500: oklch(0.3616 0.0079 75.31);
  --color-dusk-600: oklch(0.4266 0.0079 75.31);
  --color-dusk-700: oklch(0.4931 0.0079 75.31);
  --color-dusk-800: oklch(0.5533 0.0079 75.31);
  --color-dusk-900: oklch(0.5994 0.0079 75.31);


  --color-midnight: oklch(0.2606 0.004 84.58);

  --color-flame: oklch(0.6565 0.1862 39.43);

  --color-flame-100: oklch(0.5883 0.1862 39.43);
  --color-flame-200: oklch(0.6142 0.1862 39.43);
  --color-flame-300: oklch(0.6349 0.1862 39.43);
  --color-flame-400: oklch(0.6457 0.1862 39.43);
  --color-flame-500: oklch(0.6565 0.1862 39.43);
  --color-flame-600: oklch(0.6773 0.1862 39.43);
  --color-flame-700: oklch(0.698 0.1862 39.43);
  --color-flame-800: oklch(0.7088 0.1862 39.43);
  --color-flame-900: oklch(0.7117 0.1862 39.43);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
